@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./home.css";
@import "./search.css";

:root {
  --background-start-rgb: #fff6e9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
